<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="center-content">
    <h1>Página no encontrada.</h1>
    <img src="../../assets/img/error.png" >
    <br>
    <ion-button expand="block" [routerLink]="['/inicio']">Ir a Home</ion-button>
  </div>
</ion-content>