<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  <div class="center-content">
    <p class="center-text">Para restablecer tu contraseña, a continuación ingresa tu usuario</p>
  </div>
  <ion-item><ion-input type="text" [(ngModel)]="usuario" label="Usuario" placeholder="Ingrese su usuario"></ion-input></ion-item>
  <br>
  <ion-button id="recuperar" (click)="verificar()" expand="block">RECUPERAR</ion-button>

</ion-content>

<ion-footer >
  <ion-item>
   <img src="../../assets/img/footer1.png">
  </ion-item>
</ion-footer>
