<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list-header>Apariencia</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-toggle justify="space-between">Modo oscuro</ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list-header>Seguridad</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true"  (click)="irCambiar()">
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label>Cambiar contraseña</ion-label>
    </ion-item>    
  </ion-list>


</ion-content>

<ion-footer>
  <ion-item>
    <img src="assets/img/footer3.png">
  </ion-item>
</ion-footer>

