<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
  <meta name="color-scheme" content="dark" />
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding dark">
  <div class="center-content">
    <img width="70%" src="../../assets/img/Logo Duoc UC.png"><br>
  </div>
  <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-input type="text" formControlName="nombre" label="Nombre" placeholder="Ingrese su usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" label="Contraseña" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
  </form>
  <br>
  <ion-button expand="block" (click)="ingresar()">
    Ingresar
  </ion-button>
  <br>
  <p class="center-text">¿Olvidó su contraseña?  <a [routerLink]="['/recuperar']"> Recupérala aquí.</a></p>
  <p class="center-text">¿No tienes cuenta?  <a [routerLink]="['/registro']"> Registrate aquí.</a></p>
</ion-content>

<ion-footer>
  <ion-item>
    <img src="../../assets/img/footer1.png">
  </ion-item>
</ion-footer>
