.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .center-text {
    text-align: center;
    white-space: normal;
  }

  #carta{
    display: flex;
    align-items: center;
    justify-content: center;   
  }

  #video{
    position: absolute;
  }

  