<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"  color="light"> 

  <ion-card id="carta">
      <video *ngIf="mostrarCamara" id="video" width="{{ancho-52}}" autoplay></video>
      <img src="assets/img/camara.png" width="{{ancho-52}}">          
  </ion-card>  

  <ion-button (click)="scan()" expand="block">
    <ion-item color="primary" lines="none">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      <ion-label>Escanear Código QR</ion-label>
    </ion-item>
  </ion-button>

  <ion-list [inset]="true" *ngIf="mostrarTexto">
    <ion-item>
      <ion-label>Asignatura:</ion-label>
      <ion-label style="white-space: normal">{{ asignatura.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Profesor:</ion-label>
      <ion-label >{{ asignatura.profesor }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha:</ion-label>
      <ion-label >{{ asignatura.fecha }}</ion-label>
    </ion-item>
  </ion-list>


 
</ion-content>

