<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center-content">
    <br>
    <img height="200" src="assets/img/RegistrAPP.png"><br>
    <br>
    <ion-button id="escanear">Escanear Código QR</ion-button>
    <ion-button id="generar">Generar Código QR</ion-button>  
  </div>
  <div>
    <img [src]="getPhoto()" style="width: 400px;" /><br>
    <ion-row class="ion-justify-content-center">
    <ion-button (click)="takePicture()">Camara</ion-button>
  </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <img src="assets/img/footer3.png">
  </ion-item>
</ion-footer>
