<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h4>Conoce a tus profesores:</h4>
  <br>
  <div *ngFor="let post of data; let i = index">
    <div *ngIf="i < 10">
      <ion-card>
          <img src={{post.url}}>
          <ion-card-header>
            <ion-card-title>Profesor: {{post.id}}</ion-card-title>
          </ion-card-header>
          <ion-card-content><b>Descripcion:</b> {{post.title}}</ion-card-content>  
      </ion-card>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-item>
    <img src="assets/img/footer3.png">
  </ion-item>
</ion-footer>
