<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"  color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Nombre:</ion-label>
        <p class="center-text" *ngIf="usuario">{{ usuario.name }}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>Correo:</ion-label>
      <p class="center-text" *ngIf="usuario">{{ usuario.email }}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>Sede:</ion-label>
      <p class="center-text">Puerto Montt</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-item>
    <img src="assets/img/footer3.png">
  </ion-item>
</ion-footer>


